.total-container{
    display: flex;
     justify-content: center;
   margin: 0 auto;
   padding: 120px 20px;
   background-color: whitesmoke;
    
}
.first-site{
    width:40%;
}
.font-p{
    font-size: 20px;
    
}
.logo-part{
    width: 40%;
}
.google{
    margin-left: 160px;
    background-color:white;
   
}
.meta{
    background-color: white;
    margin-right: 100px;
    margin-left: 60px;
    margin-top: 30px;
}
.img-para{
    display: flex;
}
.img-para p{
    font-size: 14px;
}
.img-para img{
    margin-right: 5px;
}
.google-img{
    width: 30%;
    margin-right: 25px;
    
}
@media screen and (max-width:576px){
    .total-container{
        flex-direction: column;
    }
    .first-site,.logo-part{
        width:100%;
    }
}